.app {
  background-color: #f2f2f2;
}

.messages li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.messages li p {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}

.messages li span {
  font-weight: bold;
}

.messages li button {
  margin-top: 5px;
}

/* Стили для своих сообщений */
.messages li[data-userid="own"] {
  align-items: flex-end;
}

.messages li[data-userid="own"] p,
.messages li[data-userid="own"] button {
  background-color: #0078d4;
  color: #ffffff;
}

/* Стили для чужих сообщений */
.messages li[data-userid="other"] p,
.messages li[data-userid="other"] button {
  background-color: #e6f4ff;
}
.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input-container input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0078d4;
  color: #ffffff;
}

.input-container button:hover {
  background-color: #005a9e;
}
.messages li p span {

}
